<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Attendance Dashboard | By Code Info</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- custom css file link  -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
<section class="signup container">
    <div class="mb-5 fs-4"><i class="fa-solid fa-backward text-warning me-2"></i> <a href="/<%= (update) ? user.id : '' %>">Orqaga</a></div> 
  <div class="signup-content text-center">
    <div class="signup-form">
      <h2 class="text-success"><%= (update) ? "Ma'lumotlarni o'zgartirish" : "Ro'yxatdan o'tish" %></h1>
        <form method="POST" class="register-form fs-4 mt-5" id="register-form" action="/admin/<%= (update) ? 'changeUserInfo' : 'addUser' %>" novalidate>
        <div class="form-group mb-5">
            <label for="firstname"><i class="fa-solid fa-user me-4 fs-5"></i></label>
          <input
            type="text"
            name="firstname"
            id="firstname"
            placeholder="Ism Familiya"
            value="<%= (update) ? user.firstname : '' %>"
          />
        </div>
        <div class="form-group mb-5">
            <label for="lastname"><i class="fa-solid fa-user me-4 fs-5 text-primary"></i></label>
          <input
            type="text"
            name="lastname"
            id="lastname"
            placeholder="Sharif"
            value="<%= (update) ? user.lastname : '' %>"
          />
        </div>
        <div class="form-group mb-5">
            <label for="course"><i class="fa-solid fa-book me-4 fs-5"></i></label>
          <select name="course">
            <option <%= (update) ? '' : 'selected' %> disabled>Kursni tanlang</option>
            <option value="Matematika" <%= (update && user.course === 'Matematika') ? 'selected' : '' %>>Matematika</option>
            <option value="Ingliz tili" <%= (update && user.course === 'Ingliz tili') ? 'selected' : '' %>>Ingliz tili</option>
            <option value="Fizika" <%= (update && user.course === 'Fizika') ? 'selected' : '' %>>Fizika</option>
            <option value="Kimyo" <%= (update && user.course === 'Kimyo') ? 'selected' : '' %>>Kimyo</option>
          </select>
        </div>
        <div class="form-group mb-5">
            <label for="mentor"><i class="fa-solid fa-person-chalkboard me-4 fs-5"></i></label>
          <select name="mentor">
            <option <%= (update) ? '' : 'selected' %> disabled>O'qituvchini tanlang</option>
            <option value="Raximov Alisher" <%= (update && user.mentor === 'Raximov Alisher') ? 'selected' : '' %>>Raximov Alisher</option>
            <option value="Qodirov Nodir" <%= (update && user.mentor === 'Qodirov Nodir') ? 'selected' : '' %>>Qodirov Nodir</option>
            <option value="Fozilov Kozim" <%= (update && user.mentor === 'Fozilov Kozim') ? 'selected' : '' %>>Fozilov Kozim</option>
            <option value="Sattorov Tolib" <%= (update && user.mentor === 'Sattorov Tolib') ? 'selected' : '' %>>Sattorov Tolib</option>
          </select>
        </div>
        <% if(!update) {%>
            <div class="form-group mb-5">
                <label for="month"><i class="fa-solid fa-calendar-days me-4 fs-5"></i></label>
                <select name="month">
                  <option value="Yanvar"<%= (currentMonth === 'Yanvar') ? 'selected' : ''%>>Yanvar</option>
                  <option value="Fevral" <%= (currentMonth === 'Fevral') ? 'selected' : ''%>>Fevral</option>
                  <option value="Mart" <%= (currentMonth === 'Mart') ? 'selected' : ''%>>Mart</option>
                  <option value="Aprel" <%= (currentMonth === 'Aprel') ? 'selected' : ''%>>Aprel</option>
                  <option value="May" <%= (currentMonth === 'May') ? 'selected' : ''%>>May</option>
                  <option value="Iyun" <%= (currentMonth === 'Iyun') ? 'selected' : ''%>>Iyun</option>
                  <option value="Iyul" <%= (currentMonth === 'Iyul') ? 'selected' : ''%>>Iyul</option>
                  <option value="Avgust" <%= (currentMonth === 'Avgust') ? 'selected' : ''%>>Avgust</option>
                  <option value="Sentabr" <%= (currentMonth === 'Sentabr') ? 'selected' : ''%>>Sentabr</option>
                  <option value="Oktabr" <%= (currentMonth === 'Oktabr') ? 'selected' : ''%>>Oktabr</option>
                  <option value="Noyabr" <%= (currentMonth === 'Noyabr') ? 'selected' : ''%>>Noyabr</option>
                  <option value="Dekabr" <%= (currentMonth === 'Dekabr') ? 'selected' : ''%>>Dekabr</option>
                </select>
              </div>
              <% } %>
        <div class="form-group mb-5">
            <label for="passport"><i class="fa-solid fa-passport me-4 fs-5 text-success"></i></label>
          <input
            type="text"
            name="passport"
            id="passport"
            placeholder="Pasport seriya va raqam"
            value="<%= (update) ? user.passport : '' %>"
          />
        </div>
        <div class="form-group mb-5">
            <label for="phoneNumber"><i class="fa-solid fa-phone me-4 fs-5"></i></label>
            <input
              type="text"
              name="phoneNumber"
              id="phoneNumber"
              placeholder="Telefon raqami"
              value="<%= (update) ? user.phonenumber : '' %>"
            />
          </div>
        <div class="form-button mt-5">
            <% if(update) { %>
                <input type="hidden" name="userId" value="<%= user.id%>">
            <% } %>    
          <input type="submit" name="signup" id="signup" class="form-submit py-3 px-5" value="Ro'yxatdan o'tish" />
        </div>
      </form>
    </div>
  </div>
</section>
</body>
</html>
