<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <div class="container mts d-flex justify-content-center">
      <div>
        <div class="mb-5 fs-4">
          <i class="fa-solid fa-backward text-warning me-2"></i> <a href="/">Orqaga</a>
        </div>
        <% if(!myMessages.length) {%>
        <h2>Xabarlar mavjud emas</h2>
        <% } %><% for(let myMessage of myMessages) {%>
        <div class="mb-5 d-flex align-items-center">
          <img
            class="me-4 rounded-circle"
            src="/image/commentUser.png"
            style="width: 40px; height: 40px"
            ;
            alt=""
          />
          <h4 class="mt-0"><%= myMessage.firstname %></h4>
        </div>
        <div class="ms-5 mb-4">
          <h4 class="text-primary mb-4"><%= myMessage.message %>.</h4>
          <p class="fs-4"><span class="text-muted"> O'qituvchi: </span><%= myMessage.mentor %></p>
          <p class="fs-4"><span class="text-muted"> Kurs: </span><%= myMessage.course %></p>
          <iframe src="/<%= myMessage.paymentcashurl %>" frameborder="0" class="mb-5"></iframe>
          <div class="d-flex">
            <form action="/admin/confirmPayment" method="POST" class="me-5">
              <input type="hidden" name="userId" value="<%= myMessage.userid %>" />
              <input type="hidden" name="messageId" value="<%= myMessage.id %>" />
              <button type="submit" class="btn btn-primary fs-4">Tasdiqlash</button>
            </form>
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button fs-5 px-5"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Rad etish
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <form action="/admin/rejectPayment" method="POST">
                    <div class="accordion-body">
                      <textarea
                        name="rejectionReason"
                        id="rejectionReason"
                        rows="3"
                        class="w-100 fs-4"
                        maxlength="500"
                      ></textarea>
                    </div>
                    <input type="hidden" name="messageId" value="<%= myMessage.id %>" />
                    <input type="hidden" name="userId" value="<%= myMessage.userid %>" />
                    <button type="submit" class="btn btn-danger fs-5 m-3">Rad etish</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
        <hr class="text-danger mbb" />
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
