<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Attendance Dashboard | By Code Info</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="container">
      <% if(user.role === 'admin') {%>
      <nav>
        <ul>
          <li>
            <a href="#" class="admin">
              <img src="/image/admin_image.png" />
              <span class="nav-item">Admin</span>
            </a>
          </li>
          <li>
            <a href="/admin/addUser">
              <i class="fas fa-user-plus"></i>
              <span class="nav-item">O'quvchi qo'shish</span>
            </a>
          </li>
          <li>
            <a href="/admin/messages">
              <i class="fas fa-comment"></i>
              <% if(unreadMessages.length) {%>
              <span class="message_number"><%= unreadMessages.length%></span>
              <% } %>
              <span class="nav-item">Xabarlar</span>
            </a>
          </li>
          <li>
            <a href="/admin/addAdmin">
              <i class="fas fa-user"></i>
              <span class="nav-item">Admin qo'shish</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-chart-bar"></i>
              <span class="nav-item">Attendance</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-cog"></i>
              <span class="nav-item">Setting</span>
            </a>
          </li>

          <li>
            <a href="#" class="logout">
              <i class="fas fa-sign-out-alt"></i>
              <span class="nav-item">Log out</span>
            </a>
          </li>
        </ul>
      </nav>
      <% } %>
      <section class="main">
        <div class="main-top">
          <a href="/" class="logo">Payment Control</a>
          <i class="fas fa-user-cog"></i>
        </div>
        <div class="users">
          <div class="card">
            <h4>Matematika</h4>
            <div class="per">
              <table>
                <tr>
                  <td><span><%= mathUsers ? mathUsers.length : 0 %></span></td>
                  <td><span><%= mathPaidUsers ? mathPaidUsers.length : 0 %></span></td>
                </tr>
                <tr>
                  <td>O'quvchilar</td>
                  <td>To'ladi</td>
                </tr>
              </table>
            </div>
            <a href="/?course=math">Umumiy ro'yxat</a>
          </div>
          <div class="card">
            <h4>Ingliz tili</h4>
            <div class="per">
              <table>
                <tr>
                  <td><span><%= englishUsers ? englishUsers.length : 0 %></span></td>
                  <td><span><%= englishPaidUsers ? englishPaidUsers.length : 0 %></span></td>
                </tr>
                <tr>
                  <td>O'quvchilar</td>
                  <td>To'ladi</td>
                </tr>
              </table>
            </div>
            <a href="/?course=english">Umumiy ro'yxat</a>
          </div>
          <div class="card">
            <h4>Fizika</h4>
            <div class="per">
              <table>
                <tr>
                  <td><span><%= physicsUsers ? physicsUsers.length : 0 %></span></td>
                  <td><span><%= physicsPaidUsers ? physicsPaidUsers.length : 0 %></span></td>
                </tr>
                <tr>
                  <td>O'quvchilar</td>
                  <td>To'ladi</td>
                </tr>
              </table>
            </div>
            <a href="/?course=physics">Umumiy ro'yxat</a>
          </div>
          <div class="card">
            <h4>Kimyo</h4>
            <div class="per">
              <table>
                <tr>
                  <td><span><%= chemistryUsers ? chemistryUsers.length : 0 %></span></td>
                  <td><span><%= chemistryPaidUsers ? chemistryPaidUsers.length : 0 %></span></td>
                </tr>
                <tr>
                  <td>O'quvchilar</td>
                  <td>To'ladi</td>
                </tr>
              </table>
            </div>
            <a href="/?course=chemistry">Umumiy ro'yxat</a>
          </div>
        </div>

        <section class="attendance">
          <section class="filter fs-4 d-flex justify-content-center mx-auto">
            <form class="filter_items" action="/" method="GET">
              <div class="filtering">
                <select name="course" id="course">
                  <option selected disabled>Kursni tanlang</option>
                  <option value="Matematika">Matematika</option>
                  <option value="Ingliz tili">Ingliz tili</option>
                  <option value="Fizika">Fizika</option>
                  <option value="Kimyo">Kimyo</option>
                </select>
              </div>
              <div class="filtering">
                <select name="paymentstatus" id="paymentstatus">
                  <option selected disabled>To'lov holati</option>
                  <option value="paid">To'langan</option>
                  <option value="in progess">Jarayonda</option>
                  <option value="not paid">To'lanmagan</option>
                  <option value="rejected">Rad etilgan</option>
                </select>
              </div>
              <div class="filtering">
                <select name="mentor" id="mentor">
                  <option selected disabled>Mentor</option>
                  <option value="Raximov Alisher">Raximov Alisher</option>
                  <option value="Qodirov Nodir">Qodirov Nodir</option>
                  <option value="Fozilov Kozim">Fozilov Kozim</option>
                  <option value="Sattorov Tolib">Sattorov Tolib</option>
                </select>
              </div>
              <div class="filtering">
                <input type="date" id="date" name="dateFrom" />
              </div>
              <div class="filtering">
                <input type="date" id="date" name="dateTo" />
              </div>
              <div class="filtering">
                <input type="text" placeholder="Izlash..." name="search" />
              </div>
              <div class="filtering">
                <button type="submit">Qidirish</button>
              </div>
              <div class="filtering">
                <button type="submit">Excel</button>
              </div>
            </form>
          </section>
          <% if(!users) {%>
          <h3>Hech narsa topilmadi.</h3>
          <% } else { %>
          <div class="attendance-list">
            <% if(courseName) {%>
            <h1><%= courseName %></h1>
            <% } else { %>
            <h1>Barcha o'quvchilar</h1>
            <% } %>
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>FIO</th>
                  <th>Kurs nomi</th>
                  <th>Mentor</th>
                  <th>Oy</th>
                  <th>To'lov holati</th>
                  <th>Batafsil</th>
                </tr>
              </thead>
              <tbody>
                <% for(let user of users) { %>
                <tr>
                  <td><%= user.id %></td>
                  <td><%= user.firstname%> <%= user.lastname%></td>
                  <td><%= user.course %></td>
                  <td><%= user.mentor %></td>
                  <td><%= user.date %></td>
                  <% if(user.paymentstatus === "To'lanmadi") {%>
                  <td><i class="fas fa-circle circle_red"></i><%= user.paymentstatus %></td>
                  <% } %> <% if(user.paymentstatus === "Jarayonda") {%>
                  <td><i class="fas fa-circle circle_blue"></i><%= user.paymentstatus %></td>
                  <% } %> <% if(user.paymentstatus === "To'landi") {%>
                  <td><i class="fas fa-circle circle_green"></i><%= user.paymentstatus %></td>
                  <% } %>
                  <td><a href="/<%= user.id %>">Ko'rish</a></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <% } %>
        </section>
      </section>
    </div>
    <script src="/js/index.js"></script>
  </body>
</html>
