<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>O'quvchilar to'lov nazorati</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="/users/<%= user.id %>" class="admin">
              <img
                src="<%= (user.role === 'admin') ? '/image/admin_image.png' : '/image/commentUser.png' %>"
              />
              <span class="nav-item"
                ><%= (user.role === 'admin') ? 'Admin' : user.firstname %></span
              >
            </a>
          </li>
          <li>
            <a href="<%= (user.role === 'admin') ? '/admin/addUser' : '/users/' + user.id%>">
              <i class="<%= (user.role === 'admin') ? 'fas fa-user-plus' : 'fas fa-user'%>"></i>
              <span class="nav-item"
                ><%= (user.role === 'admin') ? "O'quvchi qo'shish" : "Ma'lumotlarim"%></span
              >
            </a>
          </li>
          <% if(user.role === 'admin') {%>
          <li>
            <a href="/admin/addCourse">
              <i class="fas fa-book"></i>
              <span class="nav-item"
                >Kurs qo'shish</span
              >
            </a>
          </li>
          <li>
            <a href="/admin/addMentor">
              <i class="fas fa-chalkboard-user"></i>
              <span class="nav-item"
                >Mentor qo'shish</span
              >
            </a>
          </li>
          <li>
            <a href="/admin/rejectedCashes">
              <i class="fas fa-file-invoice"></i>
              <span class="nav-item">Rad etilgan cheklar</span>
            </a>
          </li>
          <% } %>
          <li>
            <% if(user.role === 'admin') {%>
            <a href="/admin/messages">
              <% } else { %>
                <a href="/messages/<%=user.id%>"> 
                  <% } %>
              <i class="fas fa-comment"></i>
              <% if(unreadMessages.length) {%>
              <span class="message_number"><%= unreadMessages.length%></span>
              <% } %>
              <span class="nav-item">Xabarlar</span>
            </a>
          </li>
          <li>
            <a href="/logout">
              <i class="fas fa-sign-out-alt"></i>
              <span class="nav-item">Chiqish</span>
            </a>
          </li>
        </ul>
      </nav>
      <section class="main">
        <div class="main-top">
          <a href="/" class="logo">Payment Control</a>
        </div>
        <div class="users">
          <% for (course of courses) { %>
          <div class="card">
            <h4><%= course.name %></h4>
            <h6><%= prevMonth%> oyi uchun</h2>
            <div class="per">
              <table>
                <tr>
                  <td><span><%= course.courseAllUsers ? course.courseAllUsers.length : 0 %></span></td>
                  <td><span><%= course.coursePaidUsers ? course.coursePaidUsers.length : 0 %></span></td>
                </tr>
                <tr>
                  <td>O'quvchilar</td>
                  <td>To'ladi</td>
                </tr>
              </table>
            </div>
            <a href="/?course=<%= course.name %>">Barchasi</a>
          </div>
          <% } %>
        </div>

        <section class="attendance">
          <section class="filter fs-4 d-flex justify-content-center mx-auto">
            <form class="filter_items" action="/" method="GET">
              <div class="filtering">
                <select name="course" id="course">
                  <option selected disabled>Kursni tanlang</option>
                  <% for(let course of courses) { %>
                  <option value="<%= course.name %>"><%= course.name %></option>
                  <% } %>
                </select>
              </div>
              <div class="filtering">
                <select name="paymentstatus" id="paymentstatus">
                  <option selected disabled>To'lov holati</option>
                  <option value="paid">To'langan</option>
                  <option value="in progress">Jarayonda</option>
                  <option value="not paid">To'lanmagan</option>
                  <option value="rejected">Rad etilgan</option>
                </select>
              </div>
              <div class="filtering">
                <select name="mentor" id="mentor">
                  <option selected disabled>Mentor</option>
                  <% for(let mentor of mentors) { %>
                    <option value="<%= mentor.name %>"><%= mentor.name %></option>
                    <% } %>
                </select>
              </div>
              <div class="filtering">
                <input type="date" id="date" name="dateFrom" />
              </div>
              <div class="filtering">
                <input type="date" id="date" name="dateTo" />
              </div>
              <div class="filtering">
                <input type="text" placeholder="Izlash..." name="search" />
              </div>
              <div class="filtering">
                <select name="history" id="history">
                  <option value="currentMonth" selected>Joriy oy</option>
                  <option value="historyMonth">O'tgan oylar</option>
                </select>
              </div>
              <div class="filtering history">
                <button type="submit">Qidirish</button>
                <% if(user.role === 'admin') {%>
                <a href="/admin/downloadExcel">Excel</a>
                <% } else { %>
                <a href="/"><i class="fa-solid fa-arrows-rotate"></i></a>
                  <% } %>
              </div>
            </form>
          </section>
          <div class="attendance-list">
            <% if(courseName) {%>
            <h1><%= courseName %></h1>
            <% } else { %>
            <h1>Barcha o'quvchilar</h1>
            <% } %>
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>FIO</th>
                  <th>Kurs nomi</th>
                  <th>Mentor</th>
                  <th>Oy</th>
                  <th>To'lov holati</th>
                  <th>Batafsil</th>
                </tr>
              </thead>
              <tbody>
                <% for(let singleUser of users) { %>
                <tr>
                  <td><%= singleUser.id %></td>
                  <td><%= singleUser.firstname%> <%= singleUser.lastname%></td>
                  <td><%= singleUser.course %></td>
                  <td><%= singleUser.mentor %></td>
                  <td><%= singleUser.date %></td>
                  <% if(singleUser.paymentstatus === "To'lanmadi") {%>
                  <td><i class="fas fa-circle circle_red"></i><%= singleUser.paymentstatus %></td>
                  <% } %> <% if(singleUser.paymentstatus === "Jarayonda") {%>
                  <td>
                    <i class="fas fa-circle circle_yellow"></i><%= singleUser.paymentstatus %>
                  </td>
                  <% } %> <% if(singleUser.paymentstatus === "To'landi") {%>
                  <td>
                    <i class="fas fa-circle circle_yellowgreen"></i><%= singleUser.paymentstatus %>
                  </td>
                  <% } %><% if(singleUser.paymentstatus === "Rad etilgan") {%>
                  <td><i class="fas fa-circle circle_blue"></i><%= singleUser.paymentstatus %></td>
                  <% } %>
                  <td>
                    <% if(singleUser.login == user.login || user.role === 'admin') {%>
                    <a href="/users/<%= singleUser.id%>">Ko'rish</a>
                    <% } else { %>
                    <a>Ko'rish</a>
                    <% } %>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </section>
      </section>
    </div>
    <script src="/js/index.js"></script>
  </body>
</html>
